<ion-view title="Authenticate">
<ion-content class="padding">
	<div class="card">
		<label class="item item-input">
			<span class="input-label balanced">Username</span>
			<input type="text" placeholder="dsfx3d">
		</label>
		<label class="item item-input">
			<span class="input-label balanced">Password</span>
			<input type="password" placeholder="********">
		</label>
	</div>
<button class="button button-block button-dark">Authenticate</button>
<button class="button button-block button-positive">Add User</button>
</ion-content>
</ion-view>