<ion-view title="Navigation">
<ion-header-bar class="bar-dark">
  <h1 class="title">Swift</h1>
</ion-header-bar>
<ion-content>
  <div class="list">
    <div class="item item-divider">Modules</div>
    <div class="item">
      <a class="button button-clear button-royal" href="#/authentication">
        Authentication Module
      </a>
    </div>
    <div class="item">
      <a class="button button-clear button-royal" href="#/main">
        Main Module
      </a>
    </div>
    <div class="item item-divider">Independent UI Components</div>
    <div class="item">
      <a class="button button-clear button-royal" href="#/ui/list">
        Infinite List
      </a>
    </div>
  </div>
</ion-content>
</ion-view>